body {
    margin     : 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow        : hidden;
    background-color: #333;
}

.topnav a {
    float          : left;
    color          : #f2f2f2;
    text-align     : center;
    padding        : 14px 16px;
    text-decoration: none;
    font-size      : 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color           : black;
}

.topnav a.active {
    background-color: #04AA6D;
    color           : white;
}

.create-user-container {
    padding   : 15px;
    text-align: center;
}

.create-user-container label {
    display: block;
}

.create-user-container .btn-submit {
    margin-top: 15px;
    cursor    : pointer;
}


.update-user-container {
    padding   : 15px;
    text-align: center;
}

.update-user-container label {
    display: block;
}

.btn-save {
    margin-top: 15px;
    cursor    : pointer;
}

.upload-file-container {
    padding: 15px;
}

.upload-file-container label {
    display: block;
}

hr {
    border-top: 3px solid #eee !important;
}

/* card user */
.card-info {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: auto;
    margin: 10px;
}

.card-info:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-info__content {
    padding: 2px 16px;
}